
/* input:focus, textarea:focus, select:focus{
    outline: none;
  }
   */
  .messages_input {
    height: 40px;
    width: 275px;
    padding: 0 5px;
    /* border: 0px solid #540cc0; */
    background-color: #6db8f5;
    /* border-style: inset; */
    position: absolute;
    margin: 0;
    right: 0%;
    bottom: 19.5%;
    font-size: 16px;
    color: #060013;
  }
  
  .message_displayer {
    min-width: 40px;
    min-height: 30px;
    max-width: 195px;
    padding: 10px 30px;
    border: 1px solid #e6e5e8;
    background-color: #282C34;
     position: absolute;
    margin: 0;
    right: 21%;
    bottom: 40%;
    font-size: 16px;
    color: #e6e5e8;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
  }

  /* *::placeholder { 
    color: rgb(255, 0, 0);
    opacity: 0.5; 
  } */

  ::-webkit-input-placeholder {
    color:black;
  }

  ::-moz-placeholder {
      color:black;
  }

  ::-ms-placeholder {
      color:black;
  }

  ::placeholder {
      color:black;
  }
